@import '../base/variables';
.buttons {
  margin: 0 auto;
}

.send-button {
  text-decoration: none;
  background-color: #7859fa;
  border-radius: 7px;
  border: none;
  color: $white;
  cursor: pointer;
  padding: 13px 25px 12px 25px;
}

.send-button:hover {
  background-color: $light-purple;
}

.clear-button {
  background-color: $white;
  border-radius: 7px;
  border: 2px solid $light-purple;
  color: #000;
  cursor: pointer;
  margin-top: 10px;
  padding: 11px 25px 10px 25px;
  & :hover {
    border: 2px solid $light-purple;
    background-color: $gray;
  }
}

.clear-button ,.send-button  {
  margin-top: 10px;
  margin-bottom: 10px;
}

.order-now {
  background-color: #D1Cdde;
  border: none;
  padding: 14px 30px 14px 30px;
  border-radius: 7px;
  color: $white;
  margin-top: 15px;
  margin-bottom: 150px;
  & :hover {
    background-color: $gray;
  }
}