@import '../base/variables';

.select-color input[type="radio"] {
  display: none;
}

.select-color input[type="radio"] {
  display: none;
}

.question input{
  margin-bottom: 18px;
}

input[type="radio"].select-radio {
  appearance: none;
  width: 10px;
  height: 10px;
  border: 2px solid #ddd;
  border-radius: 50%;
  cursor: pointer;
  padding: 8px;
}

input[type="radio"].select-radio:checked {
  background-color: $purple; 
}

.select-blue + label::before {
  background-color: $light-blue;
  border-radius: 50%;
  content: "";
  height: 22px;
  left: 3px;
  opacity: 0.6;
  position: absolute;
  top: 3px;
  width: 22px;
}

.select-pink + label::before {
  background-color: $pink;
  border-radius: 50%;
  content: "";
  height: 22px;
  left: 3px;
  opacity: 0.6;
  position: absolute;
  top: 3px;
  width: 22px;
}

.select-green + label::before {
  background-color:#2AA040;
  border-radius: 50%;
  content: "";
  height: 22px;
  left: 3px;
  opacity: 0.6;
  position: absolute;
  top: 3px;
  width: 22px;
}

.select-purple + label::before {
  background-color: $purple;
  border-radius: 50%;
  content: "";
  height: 22px;
  left: 3px;
  opacity: 0.6;
  position: absolute;
  top: 3px;
  width: 22px;
}

.select-blue:checked + label {
  border-color:$light-blue;
  background-color:$light-blue;
}

.select-pink:checked + label {
  border-color:$pink;
  background-color:$pink;
}

.select-green:checked + label {
  border-color: $green;
  background-color:$green;
}

.select-purple:checked + label {
  border-color: $purple;
  background-color: $purple;
}