@import '../base/variables';

.custom-form {
  width: 40%;
  margin: 28px 10px 35px 90px;
}

.plant-created-custom {
  color: $white;
  text-align: center;
  margin-top: 30px;
  width: 500px;
  height: 800px;
  padding-top: 50px;
  background-color: $purple;
  border-radius: 10px;
  & img{
    bottom: 400px;
    position: absolute;
    top: 201px;    
    right: 361px;
    width: 233px;
  }
}

.select-color  {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  & div {
    position: relative;
  }
}

.items-center {
  display: flex;
  justify-content: center;
}