.custom-form {
  width: 40%;
  margin: 28px 10px 35px 90px;
}

.plant-created-custom {
  color: #fff;
  text-align: center;
  margin-top: 30px;
  width: 30%;
  height: 800px;
  padding-top: 50px;
  background-color: #7859fa;
  border-radius: 10px;
}

.plant-created-custom img{
  bottom: 400px;
  position: absolute;
  top: 201px;    
  right: 361px;
  width: 233px;
}

.select-color div {
  position: relative;
}

.select-color {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.select-color  {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.select-color div {
  position: relative;
}

